name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Build application
        run: go build -o artifacts/app

      - name: Test application
        run: go test ./...

      - uses: actions/upload-artifact@v5.0.0
        with:
          path: artifacts/